@model IEnumerable<web_api_version01.Models.DnbData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FailureScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DelinquencyScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paydex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViabilityRating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FailureScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DelinquencyScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paydex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViabilityRating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
